:root{
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --fixed-width: 620px;
    --spacing: 0.1rem;
    --clr-grey-10: hsl(210, 36%, 96%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.color {
    color: var(--clr-primary-5);
  }
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  nav{
      background: grey ;
      height: 3rem;
      display: grid;
      align-items: center;
      box-shadow: var(--dark-shadow);
  }
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }
  .nav-bar{
      width: 90vw;
      max-width: var(--fixed-width);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .nav-bar h4 {
    margin-bottom: 0;
    color: var(--clr-primary-5);
  }
  .nav-list {
    display: flex;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  nav a{
   
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 15px;
  }
  nav a:hover{
   font-weight: 800;
   color: wheat;
  }
  .container {
    text-align: center;
  }
  .container h2{
      color: white;
      background-color: black;
      border-radius: 1rem;
      border: 5px solid black;
      margin-bottom: 2rem;
      padding: 1rem;
  }
  .btn-hero{
      border-radius: 4px;
      text-transform: uppercase;
      display: inline-block;
      border: 2px solid black;
      cursor: pointer;
      font-size: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover{
      color: white;
      background: black;
      font-weight: bolder;
      border: 2px solid gray;
  }