*{
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
list-style: none;
position: relative;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: block;
    padding: 10px 0;
    font-weight: 700;
    text-transform: capitalize;
}
.active, .tab:hover{
    color: aqua;
    border-left: 5px solid  aqua;
}
ul li a i{
    width: 50px;
    font-size: 24px;
    text-align: center;
}
.navBar{
    width: 250px;
   letter-spacing: 0.2px;
   position: absolute;
   height: 100%;
    border-right: 1px solid gray;
    transition: 0.5s ease;
    transform: translateX(0);
    backdrop-filter: blur(10px);
    left:0;
}
label{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 10px;
    height: 35px;
    width: 32px;
    left: 20px;
}
label #end, label #start{
    color: aliceblue;
    font-size: 36px;
   position: absolute;
    cursor: pointer;
    z-index: 1;
}
label #start{
    left: 200px;
    transition-delay: 0.4s;
   
}
label #start:hover{
    z-index: 1;
    color: aqua;
}
label #end:hover{
    z-index: 1;
    color: aqua;
}
#end{
    display: none;
    transition: all .5s ease;
    position: absolute;
    z-index:1;
   
}
#check{
    display: none;
   
}
#check:checked ~ label #start{
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;
}
#check:checked ~ label #end{
    display: block;
    transition: 1s ease;
}
#check:checked ~ .navbar{
   left: -250px;
}
.navBar h1{
    font-size: 36px;
    color: aliceblue;
    text-align: center;
    padding:  10px 0;
    padding-right: 25px;
    pointer-events: none;
}
.navBar h1 i{
    font-size: 32px;
    text-align: center;
    width: 50px;
    position: absolute;
}
.db{
    background-image: url(../img/back.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    filter: brightness(50%);
}